<div class='nav-container'>
  <%= link_to("javascript:void(0);", onclick: "toggle_menu()") do %>
    <%= fa_icon("fas, bars")%>
  <% end %>
	<%= link_to(root_path, class: 'nav-logo') do %>
    <%= image_tag('logo_light.svg')%>
  <%end%>
  <%= fa_icon("fas, user") %>
</div>

<div id='nav-links' class='hidden'>
  <%= link_to({ controller: "pages", action: "show", page: "home" }, 
               class: 'nav-link') do %>
    <%= fa_icon("fas, home") %>
    <span class='nav-text'>Home</span>
  <% end %>

  <%= link_to({ controller: "pages", action: "show", page: "about" }, 
               class: 'nav-link') do %>
    <%= fa_icon("fas, info-circle") %>
    <span class='nav-text'>About</span>
  <% end %>

  <%= link_to(events_url, class: 'nav-link') do %>
    <%= fa_icon("far, calendar") %>
    <span class='nav-text'>Events</span>
  <% end %>

  <%= link_to({ controller: "pages", action: "show", page: "contact" }, 
                   class: 'nav-link') do %>
    <%= fa_icon("fas, envelope") %>
    <span class='nav-text'>Contact</span>
  <% end %>
</div> 

<%= link_to("javascript:void(0);", onclick: "toggle_menu()") do %>
  <div id='nav-mask' class='hidden'></div>
<%end%>
