<div class='mf-container text'>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize(@event.description) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @event.ends_at %>
</p>

<p>
  <strong>Price:</strong>
  <%= sprintf("%0.02f TND", @event.price) %>
</p>

<p>
  <strong>Discounted price:</strong>
  <%= sprintf("%0.02f TND", @event.discounted_price) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>