<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport'
          content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 
                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
                               'data-turbolinks-track': 'reload' %>
  </head>

	<body class='<%= controller.controller_name %>'>
    <%= render 'navigation' %>
    <%= render 'header' %>
    <%= render 'highlights' %>
    <div id='main-container'>
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>

</html>
