<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport'
          content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 
                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
                               'data-turbolinks-track': 'reload' %>
  </head>

	<body class='<%= controller.controller_name %>'>
  
  	<div id='navigation-container'>
      <%= fa_icon("fas, bars") %>
  		<%= link_to image_tag('logo_light.svg', 
                             alt: 'TSHPC logo', 
                             id:  'logo'), root_path %>
      <%= fa_icon("fas, user") %>


<!--         <%= link_to "Login", 
            { controller: "pages", 
              action:      "show", 
              page:     "contact" }%>  		
 --></div>
    
    <!--     <div id='links'>
        <%= link_to "Contact", 
          { controller: "pages", action: "show", page: "contact" } %>
        <%= link_to "Events", 
          { controller: "pages", action: "show", page:  "events" } %>
        <%= link_to "About", 
          { controller: "pages", action: "show", page:   "about" } %>
        <%= link_to "Home", 
          { controller: "pages", action: "show", page:    "home" }, 
          class: "active-link" %>
    </div>
 -->    
    <div id='header-container'>
      <%= image_tag 'header_banner_5.png', alt: 'Header banner' %>
    </div>
    
    <div id='pinned-container'>
      <div class='pinned-box'>
        box one
      </div>
      <div class='pinned-box pinned-middle'>
        box two
      </div>
      <div class='pinned-box'>
        box three
      </div>
    </div>
    
    <div id='main-container'>
    	<%= yield %>
    </div>
   
    <footer id='footer-container'> 
      <div class='copyright-box'>
        Copyright &copy; <%= Time.current.year %> TSHPC All rights reserved.<br>  
        TSHPC is an an association founded in Tunisia 
      </div>
    </footer>  
  
  </body>

</html>
